.main {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main::-webkit-scrollbar{
  display: none;
  /* color: #f1f5f8 */
}
